!!! 5
%html
  %head
    %title
      Maze
    = render partial: 'layouts/clear'
    :javascript
      core = {
        debug: {
          level: #{Rails.env.production? ? 0 : 1000}
        }
      }
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application', debug: false
  %body
    = yield

